* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header_top {
  width: 100%;
  color: white;
  height: 52px;
  background-image: url("img/header-shape.png");
  position: relative;
}
.header_top:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  content: "";
  background-color: #00a550;
  opacity: 0.8;
}

.container {
  margin: auto;
  width: 85%;
  color: white;
  display: flex;
  flex-direction: row;
}

.container1 {
  flex: 0 0 50%;
  z-index: 1;
  padding: 12px 0;
}
.container1 span {
  margin: 0 20px;
}

.container2 {
  flex: 0 0 50%;
  z-index: 1;
  padding: 12px 5px;
}
.container2 a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.container2:first-child {
  border-right: 1px solid white;
}

.logReg {
  float: right;
}

.header_bottom {
  padding: 25px 20px;
}

.logo {
  flex: 0 0 45%;
  padding: 7px 0 0 0;
}

nav {
  flex: 0 0 55%;
}
nav div {
  float: right;
  padding: 10px 0;
}
nav div a {
  text-decoration: none;
  color: #160a0a;
  padding: 0 10px;
}

.home {
  position: relative;
  max-height: auto;
  height: 600px;
}

.slide-img {
  position: absolute;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.left {
  width: 50%;
  flex: 0 0 60%;
  color: white;
  margin: 100px 100px;
}
.left > * {
  padding: 20px 0;
  user-select: none;
}
.left h1 {
  font-size: 55px;
  margin-left: -100px;
  opacity: 0;
  transition: margin-left 1s, opacity 1s;
}
.left p {
  width: 70%;
  font-size: 18px;
  margin-left: -100px;
  opacity: 0;
  transition: margin-left 1.8s, opacity 1.8s;
}
.left div {
  margin-left: -100px;
  opacity: 0;
  transition: margin-left 2.5s, opacity 2.5s;
}

.right {
  flex: 0 0 40%;
  position: absolute;
  right: -40px;
  opacity: 0;
  height: 100%;
  top: 25px;
  transition: opacity 3s, right 3s;
}

.btnAbout, .btnContact {
  margin: 0 20px 0 0;
  padding: 22px 33px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.btnAbout {
  color: white;
  background-color: #00a550;
}
.btnAbout:hover {
  background-color: white;
  color: #00a550;
}

.btnContact {
  background-color: white;
  color: #00a550;
}
.btnContact:hover {
  color: white;
  background-color: #00a550;
}

.scholarship {
  position: absolute;
  margin-top: -80px;
}

.sch {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.sch div {
  flex: 25%;
  padding: 25px 30px;
  color: white;
}
.sch div h3 {
  margin: 6px 0;
}
.sch div p {
  line-height: 20px;
}

.s1 {
  background-color: #48a7d4;
}

.s2 {
  background-color: #fdc735;
}

.s3 {
  background-color: #307ad5;
}

.s4 {
  background-color: #10c45c;
}

.about {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 170px 0;
}

.about1 {
  flex: 45%;
  margin: 20px 0 0 40px;
  padding-right: 20px;
}
.about1 :nth-child(2) {
  color: #00a651;
  margin: 0 0 20px 0;
}
.about1 :nth-child(4) {
  margin: 20px 0 0 0;
}
.about1 :nth-child(4):hover {
  background-color: black;
  color: white;
}

.h1title {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 38px;
}
.h1title span {
  color: #00a651;
  font-weight: normal;
}

.about2 {
  flex: 55%;
  padding-left: 30px;
}

.courses {
  background-image: url("img/bg-1.jpg");
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 40px 0;
}
.courses div {
  width: 90%;
  margin: auto;
}
.courses div p {
  width: 50%;
}
.courses .courses1 {
  padding: 100px 40px 30px 40px;
}
.courses .courses2 {
  display: flex;
  flex-direction: row;
  padding: 20px 40px 30px 40px;
  margin: auto;
}
.courses .courses2 .course {
  flex: 20%;
  padding: 0;
  overflow: hidden;
}
.courses .courses2 .course img {
  cursor: pointer;
}
.courses .courses2 .course .courseContent {
  width: 100%;
  box-shadow: 1px 8px 11px 1px #dedede;
}
.courses .courses2 .course .courseContent h3 {
  padding: 10px 30px;
  background-color: white;
}
.courses .courses2 .course .courseContent p {
  width: 100%;
  padding: 10px 30px;
  background-color: white;
}

.courseInfo {
  width: 100%;
  margin: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
}
.courseInfo div {
  display: flex;
  justify-content: center;
}
.courseInfo button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #00a550;
  color: white;
}
.courseInfo button:hover {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=stil.css.map */
