* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.header_top {
  width: 100%;
  color: white;
  height: 52px;
  background-image: url("img/header-shape.png");
  position: relative;
}
.header_top:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  content: "";
  background-color: #00a550;
  opacity: 0.8;
}

.container {
  margin: auto;
  width: 85%;
  color: white;
  display: flex;
  flex-direction: row;
}

.container1 {
  flex: 0 0 55%;
  z-index: 1;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
}
.container1 span {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container2 {
  flex: 0 0 45%;
  z-index: 1;
  padding: 12px 5px;
}
.container2 a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.container2:first-child {
  border-right: 1px solid white;
}

.logReg {
  float: right;
}

.header_bottom {
  padding: 25px 20px;
}
.header_bottom .container {
  justify-content: space-between;
}
.header_bottom .container .logo {
  padding: 7px 0 0 0;
}
.header_bottom .container nav div {
  float: right;
  padding: 10px 0;
}
.header_bottom .container nav div a {
  text-decoration: none;
  color: #160a0a;
  padding: 0 10px;
}

.home {
  position: relative;
  max-height: auto;
  height: 600px;
}

.slide-img {
  position: absolute;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  height: auto;
  background-image: url("img/slider-1.jpg");
  background-position: center;
  background-size: cover;
}

.left {
  width: 50%;
  flex: 0 0 60%;
  color: white;
  margin: 100px 100px;
}
.left > * {
  padding: 20px 0;
  user-select: none;
}
.left h1 {
  font-size: 55px;
  margin-left: -100px;
  opacity: 0;
  transition: margin-left 1s, opacity 1s;
}
.left p {
  width: 70%;
  font-size: 18px;
  margin-left: -100px;
  opacity: 0;
  transition: margin-left 1.8s, opacity 1.8s;
}
.left div {
  margin-left: -100px;
  opacity: 0;
  transition: margin-left 2.5s, opacity 2.5s;
}

.right {
  flex: 0 0 40%;
  position: absolute;
  right: -40px;
  opacity: 0;
  height: 100%;
  top: 25px;
  transition: opacity 3s, right 3s;
}
.right img {
  height: 100%;
}

.btnAbout, .btnContact, .btnRegister {
  margin: 0 20px 0 0;
  padding: 22px 33px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.btnAbout {
  color: white;
  background-color: #00a550;
}
.btnAbout:hover {
  background-color: white;
  color: #00a550;
}

.btnContact {
  background-color: white;
  color: #00a550;
}
.btnContact:hover {
  color: white;
  background-color: #00a550;
}

#scholarship {
  position: absolute;
  margin-top: -150px;
}
#scholarship .sch {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#scholarship .sch div {
  flex: 25%;
  padding: 25px 30px;
  color: white;
  display: block;
}
#scholarship .sch div h3 {
  margin: 6px 0;
}
#scholarship .sch div p {
  line-height: 20px;
}

.s1 {
  background-color: #48a7d4;
}

.s2 {
  background-color: #fdc735;
}

.s3 {
  background-color: #307ad5;
}

.s4 {
  background-color: #10c45c;
}

#about {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 170px 0;
}

.about1 {
  flex: 45%;
  margin: 20px 0 0 40px;
  padding-right: 20px;
}
.about1 :nth-child(2) {
  color: #00a651;
  margin: 0 0 20px 0;
}
.about1 :nth-child(4) {
  margin: 20px 0 0 0;
}
.about1 :nth-child(4):hover {
  background-color: black;
  color: white;
}

.h1title {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 20px 0;
  line-height: 38px;
}
.h1title span {
  color: #00a651;
  font-weight: normal;
}

.about2 {
  flex: 55%;
  padding: 0 50px 0 30px;
}

#courses {
  background-image: url("img/bg-1.jpg");
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 40px 0;
}
#courses div {
  width: 90%;
  margin: auto;
}
#courses div p {
  width: 50%;
}
#courses .courses1 {
  padding: 100px 40px 30px 40px;
}
#courses .courses2 {
  display: flex;
  flex-direction: row;
  padding: 20px 40px 30px 40px;
  margin: auto;
}
#courses .courses2 .course {
  flex: 20%;
  padding: 0;
  overflow: hidden;
}
#courses .courses2 .course img {
  cursor: pointer;
  width: 100%;
}
#courses .courses2 .course .courseContent {
  width: 100%;
  box-shadow: 1px 8px 11px 1px #dedede;
}
#courses .courses2 .course .courseContent h3 {
  padding: 10px 30px;
  background-color: white;
}
#courses .courses2 .course .courseContent p {
  width: 100%;
  padding: 10px 30px;
  background-color: white;
}

.courseInfo {
  width: 100%;
  margin: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
}
.courseInfo div {
  display: flex;
  justify-content: center;
}
.courseInfo button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #00a550;
  color: white;
}
.courseInfo button:hover {
  background-color: black;
  color: white;
}

#achievement {
  width: 90%;
  margin: auto;
  padding: 70px 40px;
}
#achievement .achievement1 p {
  width: 45%;
}
#achievement .achievement2 {
  display: flex;
  flex-direction: row;
  padding: 70px 0;
  justify-content: space-between;
}
#achievement .achievement2 .achievementCount {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#achievement .achievement2 .achievementCount:first-child {
  border-left: none;
}
#achievement .achievement2 .achievementCount div {
  text-align: center;
  padding: 0 20px 0 0;
}
#achievement .achievement2 .achievementCount div h1 {
  font-size: 40px;
  font-weight: bold;
  color: #00a550;
}
#achievement .achievement2 .achievementCount div p {
  padding-top: 10px;
}
#achievement .achievement3 {
  display: flex;
  flex-direction: row;
  max-height: 450px;
  margin-bottom: 100px;
}
#achievement .achievement3 .galleryImg, #achievement .achievement3 .galleryContent {
  flex: 50%;
  display: none;
}
#achievement .achievement3 .galleryImg img {
  width: 100%;
  height: 100%;
}
#achievement .achievement3 .galleryContent {
  font-size: 16px;
  line-height: 26px;
  background-color: #00a550;
  padding: 80px 30px;
  color: white;
}
#achievement .achievement3 .galleryContent p {
  padding: 0 0 30px 0;
}

.thumbnails {
  right: 109px;
  position: absolute;
  margin-top: -150px;
}

.galleryThumb {
  display: inline-block;
}

#toTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00a550;
  position: absolute;
  right: 25px;
  bottom: 65px;
  position: fixed;
  color: white;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: opacity 0.5s, padding-top 0.7s;
  font-size: 22px;
}
#toTop:hover {
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  overflow: hidden;
}
@keyframes example {
  from {
    padding-top: 40px;
  }
  to {
    padding-top: 12px;
  }
}

#register {
  background-image: url("img/bg-2.jpg");
  height: auto;
  padding: 0 0 70px 0;
}
#register .register1 {
  padding: 100px 40px;
  width: 90%;
  margin: auto;
  color: white;
}
#register .register1 span {
  color: white;
}
#register .register2 {
  padding: 0 40px;
  width: 90%;
  margin: auto;
  color: white;
}
#register .register2 h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px;
}
#register .register2 form {
  margin-left: 0;
}
#register .register2 form textarea {
  margin: 10px;
  padding: 14px 30px;
  font-size: 15px;
  width: 955px;
  margin-left: 0;
}
#register .register2 form .btnRegister {
  color: #00a550;
  background-color: white;
  font-size: 16px;
  margin: 10px 0;
}
#register .register2 form .btnRegister:hover {
  color: white;
  background-color: black;
}

.formRow {
  width: 1000px;
}
.formRow input {
  width: 470px;
  margin: 10px;
  padding: 14px 30px;
  font-size: 15px;
  margin-left: 0;
}

#teacher {
  width: 90%;
  margin: auto;
  padding: 10px 0 50px 0;
}
#teacher .teacher1 {
  padding: 100px 40px;
}
#teacher .teacher2 {
  padding: 0 40px 50px;
}
#teacher .teacher2 .teacherImg {
  display: inline-block;
  padding: 0 15px 0 0;
  position: relative;
  width: 19%;
}
#teacher .teacher2 .teacherImg .asd {
  overflow: hidden;
  z-index: 1;
}
#teacher .teacher2 .teacherImg .asd img {
  width: 100%;
  height: auto;
}
#teacher .teacher2 .teacherImg .asd .teacherInfo {
  position: absolute;
  width: 125px;
  height: 75px;
  right: 0;
  bottom: -2px;
  background-color: white;
  color: #00a550;
  margin: 4px 15px;
  text-align: right;
  padding: 25px 15px;
  transform: scale(1);
  transition: all 0.4s;
}
#teacher .teacher2 .teacherImg .asd:before {
  content: "";
  display: table;
  clear: both;
}
#teacher .teacher2 .teacherImg .asd .onhover {
  width: unset;
  height: 99%;
  background-color: #00a550;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.4s;
  overflow: hidden;
  margin: 0 15px 0 0;
  padding: 32px 23px;
  color: white;
}
#teacher .teacher2 .teacherImg .asd .onhover * {
  padding: 7px;
  color: white;
  z-index: 1;
  opacity: 1;
}
#teacher .teacher2 .teacherImg .asd .onhover h4 {
  font-size: 18px;
}
#teacher .teacher2 .teacherImg .asd .onhover h5 {
  font-size: 16px;
}
#teacher .teacher2 .teacherImg .asd:hover .onhover {
  transform: scale(1);
}
#teacher .teacher2 .teacherImg .asd:hover .teacherInfo {
  transform: scale(0);
}

footer .footer1 {
  background-image: url("img/bg-4.jpg");
  background-position: center;
}
footer .footer1 .f1 {
  background-color: rgba(0, 53, 2, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 100px;
}
footer .footer1 .f1 div {
  color: white;
  width: 20%;
  margin: 0 15px 0 30px;
}
footer .footer1 .f1 div h4 {
  font-size: 18px;
  padding: 0 0 20px 0;
}
footer .footer1 .f1 div p {
  padding: 10px 0;
}
footer .footer1 .f1 div p i {
  padding-right: 5px;
}
footer .footer1 .f1 div a {
  text-decoration: none;
  display: block;
  color: white;
  padding-top: 10px;
  font-size: 14px;
}
footer .footer1 .f1 div a:hover {
  color: #00a550;
}
footer .footer1 .f1 div .gallery {
  display: grid;
  grid-template-columns: auto auto;
  width: 160px;
  height: 150px;
  margin: 0;
}
footer .footer1 .f1 div .gallery .img {
  margin: 0;
  padding: 1px 3px;
}
footer .footer1 .f1 div .gallery .img img {
  cursor: pointer;
}
footer .footer1 .f1 div input {
  padding: 10px 15px;
  margin: 10px 0;
}
footer .footer1 .f1 div button {
  padding: 10px 20px;
  background-color: white;
  color: #00a550;
  border: none;
  outline: none;
  font-weight: bold;
  margin: 7px 0;
  cursor: pointer;
}
footer .footer1 .f1 div button:hover {
  color: white;
  background-color: #00a550;
}
footer .footer2 {
  background-color: #00a550;
  padding: 20px 100px;
  text-align: center;
  color: white;
}

@media (max-width: 1150px) {
  #teacher .teacher2 .teacherImg {
    width: 30%;
  }
  #teacher .teacher2 .teacherImg .asd .onhover {
    width: unset;
    height: 99%;
  }

  .about2 img {
    width: 100%;
    height: auto;
  }

  #register .register2 form textarea {
    width: 800px;
  }
  #register .register2 form .formRow {
    width: 815px;
  }
  #register .register2 form .formRow input {
    width: 393px;
  }

  .left {
    margin: 100px 50px;
  }
}
@media (max-width: 950px) {
  .header_bottom {
    padding: 15px 20px;
  }
  .header_bottom .container {
    display: flex;
    flex-direction: column;
  }
  .header_bottom .container nav div {
    float: unset;
    padding: 16px 0 5px 0;
  }
  .header_bottom .container nav div a {
    padding: 0 15px 0 0;
  }

  .right {
    top: 45px;
  }
  .right img {
    width: 300px;
    height: auto;
  }

  .left {
    margin: 50px 20px 100px 50px;
  }

  #scholarship {
    margin-top: -120px;
  }
  #scholarship .sch {
    flex-wrap: wrap;
  }
  #scholarship .sch div {
    flex: 0 0 50%;
  }

  #about {
    padding: 250px 0 100px 0;
  }

  .container .container1 {
    flex: 0 0 75%;
  }
  .container .container2 {
    flex: 0 0 25%;
  }

  #register .register2 form textarea {
    width: 600px;
  }
  #register .register2 form .formRow {
    width: 611px;
  }
  #register .register2 form .formRow input {
    width: 293px;
  }

  footer .footer1 .f1 {
    flex-wrap: wrap;
    padding: 100px 50px 50px 60px;
  }
  footer .footer1 .f1 div {
    width: 27%;
    margin: 0 15px 50px 15px;
  }
}
@media (max-width: 800px) {
  header .header_top .container {
    font-size: 14px;
  }
  header .header_top .container .container1 {
    flex: 0 0 72%;
  }
  header .header_top .container .container1 span {
    margin: 0 0px 0 20px;
  }
  header .header_top .container .container2 {
    flex: 0 0 28%;
  }
  header .header_top .container .container2 a {
    margin: 0 5px;
  }
  header .header_bottom {
    padding: 15px 0px 15px 20px;
  }
  header .header_bottom .container nav div a {
    padding: 0 10px 0 0;
    font-size: 14px;
  }

  .home {
    min-height: 460px;
  }
  .home .content .left {
    margin: 48px 0px 79px 25px;
  }
  .home .content .left p {
    font-size: 15px;
  }
  .home .content .left h1 {
    font-size: 35px;
  }
  .home .content .left .btns button {
    padding: 15px 19px;
  }
  .home .content .right img {
    width: 250px;
  }

  #about {
    flex-direction: column;
    padding: 120px 0 100px 0;
  }
  #about .about {
    padding: 50px 50px 0 40px;
  }
  #about .about2 {
    padding: 60px 50px 0 40px;
  }

  #scholarship {
    margin-top: -185px;
  }
  #scholarship .sch {
    width: 100%;
  }

  #achievement .achievement2 {
    flex-wrap: wrap;
  }
  #achievement .achievement2 .achievementCount {
    width: 50%;
    padding: 20px;
  }
  #achievement .achievement3 {
    max-height: unset;
    flex-direction: column;
  }
  #achievement .achievement3 .galleryContent {
    padding: 40px 30px;
  }
  #achievement .thumbnails {
    right: 80px;
    margin-top: -135px;
  }

  #teacher .teacher2 .teacherImg {
    width: 49%;
  }
  #teacher .teacher2 .teacherImg .asd .onhover {
    width: 95%;
    height: 99%;
  }

  #register .register2 form textarea {
    width: 90%;
  }
  #register .register2 form .formRow {
    width: unset;
  }
  #register .register2 form .formRow input {
    width: 90%;
  }

  footer .footer1 .f1 {
    padding: 40px 0px 20px 30px;
  }
  footer .footer1 .f1 div {
    width: 28%;
    margin: 0 20px 50px 0px;
    font-size: 14px;
  }
  footer .footer1 .f1 div h4 {
    font-size: 16px;
    padding: 0 0 2px 0;
  }
  footer .footer1 .f1 div p {
    padding: 5px 0;
  }
  footer .footer1 .f1 div a {
    padding-top: 5px;
    font-size: 13px;
  }
}
@media (max-width: 610px) {
  footer .footer1 .f1 .footerGallery {
    display: none;
  }
  footer .footer1 .f1 div {
    width: 45%;
  }
  footer .footer1 .f1 div:last-child {
    padding: 0;
  }
}

/*# sourceMappingURL=stil.css.map */
