@import "margin&padding.scss";

$greenbg: #00a550;
$white: white;
$fontfam: "Roboto", sans-serif;


*{
    @include margin1(0);
    box-sizing: border-box;
}
body{
    font-family: $fontfam;
}

.header_top{
    width: 100%;
    color: $white;
    height: 52px;
    background-image: url('img/header-shape.png');
    position: relative;
    
    &:before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 44px;
        content: "";
        background-color: $greenbg;
        opacity: .8;
    }
}

.container{
    @include margin1(auto);
    width: 85%;
    color: $white;
    display: flex;
    flex-direction: row;
}
.container1{
    flex: 0 0 50%;
    z-index: 1;
    @include padding2(12px, 0);

    span{
        @include margin2(0, 20px);
    }
}

.container2{
    flex: 0 0 50%;
    z-index: 1;
    @include padding2(12px, 5px);

    a{
        @include margin2(0, 10px);
        color: $white;
        text-decoration: none;
    }

    &:first-child{
        border-right: 1px solid $white;
    }
}

.logReg{
    float: right;
}

.header_bottom{
    @include padding2(25px, 20px);
}

.logo{
    flex: 0 0 45%;
    @include padding4(7px, 0, 0, 0);
}

nav{
    flex: 0 0 55%;

    div{    
        float: right;
        @include padding2(10px, 0);

        a{
            text-decoration: none;
            color: rgb(22, 10, 10);
            @include padding2(0, 10px);
        }
    }
}
.home{
    position: relative;
    max-height: auto;
    height: 600px;
}
.slide-img{
    position: absolute;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    position: absolute;
    overflow: hidden;
    height: 100%;
}
.left{
    width: 50%;
    flex: 0 0 60%;
    color: $white;
    @include margin2(100px, 100px);

    > * {
        @include padding2(20px, 0);
        user-select: none;
    }

    h1{
        font-size: 55px;
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 1s, opacity 1s;
    }

    p{
        width: 70%;
        font-size: 18px;
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 1.8s, opacity 1.8s;
    }
    div{
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 2.5s, opacity 2.5s;       
    }
}

.right{
    flex: 0 0 40%;
    position: absolute;
    //right: 40px;
    right: -40px;
    opacity: 0;
    height: 100%;
    top: 25px;
    transition: opacity 3s, right 3s;
}
.btnAbout, .btnContact{
    @include margin4(0, 20px, 0, 0);
    @include padding2(22px, 33px);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.btnAbout{
    color: $white;
    background-color: $greenbg;

    &:hover{
        background-color: $white;
        color: $greenbg;
    }
}
.btnContact{
    background-color: $white;
    color: $greenbg;
    &:hover{
        color: $white;
        background-color: $greenbg;  
    }
}
.scholarship{
    position: absolute;
    margin-top: -80px;
}
.sch{  
    width: 80%;
    @include margin1(auto);
    display: flex;
    flex-direction: row;

    div{
        flex: 25%;
        @include padding2(25px, 30px);
        color: white;

        h3{
            @include margin2(6px, 0);
        }
        p{
            line-height: 20px;
        }
    }
}
.s1{
    background-color: #48a7d4;
}
.s2{
    background-color: #fdc735
}
.s3{
    background-color: #307ad5
}
.s4{
    background-color: #10c45c
}

.about{
    width: 90%;
    display: flex;
    flex-direction: row;
    @include margin1(auto);
    @include padding2(170px, 0);
}
.about1{
    flex: 45%;
    @include margin4(20px, 0, 0, 50px);
    @include padding1(25px);

    :nth-child(2) {
        color: #00a651;
        @include margin4(0, 0, 20px, 0);
    }

    :nth-child(4) {
        @include margin4(20px, 0, 0, 0);

        &:hover {
            background-color: black;
            color: white;
        }
    }

}

.h1title{
    font-size: 48px;
    font-weight: bold;
    @include margin4(0, 0, 20px, 0);
    line-height: 38px;

    span{
        color: #00a651;
    }
}

.about2{
    flex: 55%;
}