@import "margin&padding.scss";

$greenbg: #00a550;
$white: white;
$fontfam: "Roboto", sans-serif;


*{
    @include margin1(0);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: $fontfam;
}

.header_top{
    width: 100%;
    color: $white;
    height: 52px;
    background-image: url('img/header-shape.png');
    position: relative;
    
    &:before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 44px;
        content: "";
        background-color: $greenbg;
        opacity: .8;
    }
}

.container{
    @include margin1(auto);
    width: 85%;
    color: $white;
    display: flex;
    flex-direction: row;
}
.container1{
    flex: 0 0 50%;
    z-index: 1;
    @include padding2(12px, 0);

    span{
        @include margin2(0, 20px);
    }
}

.container2{
    flex: 0 0 50%;
    z-index: 1;
    @include padding2(12px, 5px);

    a{
        @include margin2(0, 10px);
        color: $white;
        text-decoration: none;
    }

    &:first-child{
        border-right: 1px solid $white;
    }
}

.logReg{
    float: right;
}

.header_bottom{
    @include padding2(25px, 20px);
}

.logo{
    flex: 0 0 45%;
    @include padding4(7px, 0, 0, 0);
}

nav{
    flex: 0 0 55%;

    div{    
        float: right;
        @include padding2(10px, 0);

        a{
            text-decoration: none;
            color: rgb(22, 10, 10);
            @include padding2(0, 10px);
        }
    }
}
.home{
    position: relative;
    max-height: auto;
    height: 600px;
}
.slide-img{
    position: absolute;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    position: absolute;
    overflow: hidden;
    height: 100%;
}
.left{
    width: 50%;
    flex: 0 0 60%;
    color: $white;
    @include margin2(100px, 100px);

    > * {
        @include padding2(20px, 0);
        user-select: none;
    }

    h1{
        font-size: 55px;
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 1s, opacity 1s;
    }

    p{
        width: 70%;
        font-size: 18px;
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 1.8s, opacity 1.8s;
    }
    div{
        margin-left: -100px;
        opacity: 0;
        transition: margin-left 2.5s, opacity 2.5s;       
    }
}

.right{
    flex: 0 0 40%;
    position: absolute;
    //right: 40px;
    right: -40px;
    opacity: 0;
    height: 100%;
    top: 25px;
    transition: opacity 3s, right 3s;
}
.btnAbout, .btnContact, .btnRegister{
    @include margin4(0, 20px, 0, 0);
    @include padding2(22px, 33px);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.btnAbout{
    color: $white;
    background-color: $greenbg;

    &:hover{
        background-color: $white;
        color: $greenbg;
    }
}
.btnContact{
    background-color: $white;
    color: $greenbg;
    &:hover{
        color: $white;
        background-color: $greenbg;  
    }
}
#scholarship{
    position: absolute;
    margin-top: -80px;
}
.sch{  
    width: 80%;
    @include margin1(auto);
    display: flex;
    flex-direction: row;

    div{
        flex: 25%;
        @include padding2(25px, 30px);
        color: white;

        h3{
            @include margin2(6px, 0);
        }
        p{
            line-height: 20px;
        }
    }
}
.s1{
    background-color: #48a7d4;
}
.s2{
    background-color: #fdc735
}
.s3{
    background-color: #307ad5
}
.s4{
    background-color: #10c45c
}

#about{
    width: 90%;
    display: flex;
    flex-direction: row;
    @include margin1(auto);
    @include padding2(170px, 0);
}
.about1{
    flex: 45%;
    @include margin4(20px, 0, 0, 40px);
    //@include padding1(25px);
    padding-right: 20px;

    :nth-child(2) {
        color: #00a651;
        @include margin4(0, 0, 20px, 0);
    }

    :nth-child(4) {
        @include margin4(20px, 0, 0, 0);

        &:hover {
            background-color: black;
            color: white;
        }
    }

}

.h1title{
    font-size: 48px;
    font-weight: bold;
    @include margin4(0, 0, 20px, 0);
    line-height: 38px;

    span{
        color: #00a651;
        font-weight: normal;
    }
}

.about2{
    flex: 55%;
    padding-left: 30px;
}

#courses{
    background-image: url('img/bg-1.jpg');    
    display: flex;
    flex-direction: column;
    @include margin1(auto);
    padding: 20px 0 40px 0;
    
    div {
        width: 90%;
        @include margin1(auto);

        p {
            width: 50%;
        }
    }
    .courses1{        
        @include padding4(100px, 40px, 30px, 40px);
    }

    .courses2{
        display: flex;
        flex-direction: row;        
        @include padding4(20px, 40px, 30px, 40px);
        margin: auto;

        

        .course{
            flex: 20%;
            padding: 0;
            overflow: hidden; 

            img{
                cursor: pointer;
                width: 100%;
                
            }

            .courseContent{  
                width: 100%;  
                box-shadow: 1px 8px 11px 1px rgba(222,222,222,1);
                
                h3{
                    padding: 10px 30px;
                    background-color: white;
                }

                p{
                    width: 100%;
                    padding: 10px 30px;
                    background-color: white;
                }
            }
        }
    }
}
.courseInfo{
    width: 100%;
    margin: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 1s;

    div{
        display: flex;
        justify-content: center;
    }

    button{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 12px 30px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: $greenbg;
        color: white;

        &:hover {
            background-color: black;
            color: white;
        }
    }   
}

#achievement {
    width: 90%;
    margin: auto;
    padding: 70px 40px;

    .achievement1{
        p{
            width: 45%;
        }
    }

    .achievement2{
        display: flex;
        flex-direction: row;
        padding: 70px 0; 

        .achievementCount{
            flex: 25%;
            display: flex;
            flex-direction: row;
            text-align: center;
            padding: 0 70px;
            border-left: 2px solid #e1dddd;

            &:first-child {
                padding: 0 70px 0 0;
                border-left: none;
            }

            div{
                text-align: center;
                padding: 0 20px 0 0;

                h1{
                    font-size: 40px;
                    font-weight: bold;
                    color: $greenbg;
                }

                p{
                    padding-top: 10px;
                }
            }
        }
    }

    .achievement3{
        display: flex;
        flex-direction: row;
        max-height: 450px;
        margin-bottom: 100px;
        

        .galleryImg, .galleryContent {
            flex: 50%;
            display: none;
        }
        .galleryImg{
            img{
                width: 100%;
                height: 100%;
            }
        }        

        .galleryContent{            
            font-size: 16px;
            line-height: 26px;
            background-color: rgba($color: $greenbg, $alpha: 1.0);
            padding: 80px 30px;
            color: white;

            p {
                padding: 0 0 30px 0;
            }
        }
    }
}
.thumbnails{
    right: 109px;
    position: absolute;
    margin-top: -150px;
}
.galleryThumb{
    display: inline-block;
}

#toTop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $greenbg;
    position: absolute;
    right: 25px;
    bottom: 50px;
    position: fixed;
    color: white;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: opacity 0.5s, padding-top 0.7s;
    font-size: 22px;

    &:hover{
        animation-name: example;
        animation-duration: 1s;     
        animation-iteration-count: infinite;
        overflow: hidden;
    }   
  
    @keyframes example {
        from { padding-top: 40px; }
        to { padding-top: 12px; }
    }  
}

#register{
    background-image: url('img/bg-2.jpg');
    height: 850px;

    
    .register1{
        padding: 100px 40px;
        width: 90%;
        margin: auto;
        color: white;

        span{
            color: white;
        }
    }
    .register2{
        padding: 0 40px;
        width: 90%;
        margin: auto;
        color: white;

        h4{
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 15px;
        }
        
        form{
            margin-left: 0;

            textarea{                
                margin: 10px;
                padding: 14px 30px;
                font-size: 15px;
                width: 955px;
                margin-left: 0;
            }

            .btnRegister{
                color: $greenbg;
                background-color: white;
                font-size: 16px;
                margin: 10px 0;

                &:hover{
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}
.formRow{
    width: 1000px;

    input{
        width: 470px;
        margin: 10px;
        padding: 14px 30px;
        font-size: 15px;
        margin-left: 0;
    }
}

#teacher{
    width: 90%;
    margin: auto;
    padding: 10px 0 50px 0;

    .teacher1{
        padding: 100px 40px;
    }

    .teacher2{
        padding: 0 40px 50px;

        .teacherImg {
            display: inline-block;
            padding: 0 15px 0 0;
            position: relative;

            

            .asd{
                overflow: hidden;
                z-index: 1;
                
                
                .teacherInfo{
                    position: absolute;
                    width: 125px; 
                    height: 75px;
                    right: 0;
                    bottom: -2px;
                    background-color: white;
                    color: $greenbg;
                    margin: 4px 15px;
                    text-align: right;
                    padding: 25px 15px;
                    transform: scale(1);
                    transition: all 0.4s;
                }

                &:before{
                    content: '';
                    display: table;
                    clear: both;
                }

                .onhover{
                    width: 200px;
                    height: 260px;
                    background-color: $greenbg;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: scale(0);
                    transition: all 0.4s;
                    overflow: hidden;
                    margin: 0 15px 0 0;
                    padding: 32px 23px;
                    color: white;

                    *{
                        padding: 7px;
                        color: white;
                        z-index: 1;
                        opacity: 1;
                    }

                    h4{
                        font-size: 18px;
                    }
                    h5{
                        font-size: 16px;
                    }
                }   
                
                &:hover .onhover{
                    transform: scale(1);
                }

                &:hover .teacherInfo{
                    transform: scale(0);
                }
            }                
        }
    }
}

footer{
    .footer1{
        background-image: url('img/bg-4.jpg');
        height: 400px;
        width: 100%;
        background-position: center;

        .f1{            
            background-color: rgba($color: #003502, $alpha: 0.8);
            width: 100%;
            height: 100%;
        }
    }
    .footer2{
        height: 60px;
        width: 100%;
        background-color: $greenbg;
    }
}